@page "/signin"

<section class="auth-page">
    <p class="eyebrow">Sign in</p>
    <p>Continue to sign in.</p>
    <a class="btn primary" href="/auth/signin" target="_top">Go to sign in</a>
</section>
