@inject NavigationManager Nav

<div class="auth-redirect">
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Nav.NavigateTo("/auth/signin", forceLoad: true);
        }
    }
}